body {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
}

.fondo {
    color:white;
    background-color: #a6b795;
}

.fondo2 {
    color:#666666;
    background-color: #ecf0e8;
}

.fondo3 {
    color:#666666;
    background-color: #f7f8f5;
}

.boton {
    color:#a6b795;
    background-color: white;
}
